/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


header .topbar .fl-rich-text ul.storename {
  margin: 0;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
}

.container.fl-content-full {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}

.container.fl-content-full .fl-content {
  margin: 0;
  padding: 0;
}

.custom_searchModule {
  display: none;
  z-index: 2;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 119px;
  padding: 5px 20px;
}

/* blog */

body.blog .fl-post .fl-post-image-beside {
  float: none;
}

/* blog */

/* .advSearchBox{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
} */

.header-phone .storename {
  display: inline-block !important;
  margin: 0 0 0 5px;
}

.header-phone p {
  margin: 0;
  display: inline-block;
}

header .fl-icon i.ua-icon.ua-icon-search {
  cursor: pointer;
}

.topbar .fl-module-rich-text .fl-rich-text p {
  margin: 0;
}

.category-row
  .fl-row-content
  .fl-col-group
  .fl-col:not(.fl-visible-medium-mobile) {
  width: 33.33%;
}

.gform_wrapper#gform_wrapper_5 .top_label li.gfield.gf_left_half + li.gfield {
  /* padding-right: 0px !important; */
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_hour {
  position: relative;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_hour,
.gform_wrapper ul.gform_fields li.gfield .gfield_time_minute {
  text-align: center;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_hour label,
.gform_wrapper ul.gform_fields li.gfield .gfield_time_minute label {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_minute label {
  left: -5px;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_hour i {
  margin-top: 0px !important;
  position: absolute;
  bottom: 30px;
  right: 2px;
}

ul.sub-menu .uabb-menu-toggle {
  transform: rotate(-90deg) translate(-5px, 5px);
  -webkit-transform: rotate(-90deg) translate(-5px, 5px);
  -moz-transform: rotate(-90deg) translate(-5px, 5px);
  -o-transform: rotate(-90deg) translate(-5px, 5px);
  -ms-transform: rotate(-90deg) translate(-5px, 5px);
}

.active-gallery-modal .fl-row-content-wrap > .row {
  flex-wrap: nowrap;
}

.active-gallery-modal .product-box a.fl-button {
  border-radius: 0px !important;
  background: #338e8e;
  border: 1px solid #338e8e;
}

.active-gallery-modal .product-box a.fl-button:hover,
.active-gallery-modal .product-box a.fl-button:focus,
.active-gallery-modal .product-box a.fl-button:active {
  background: #606060;
  border: 1px solid #606060;
}

.gform_wrapper .top_label input.large.datepicker,
.gform_wrapper .top_label input.medium.datepicker,
.gform_wrapper .top_label input.small.datepicker {
  width: 100% !important;
}

.uabb-gf-style .gform_wrapper .gfield select,
.uabb-gf-style .gform_wrapper .gfield select option {
  color: #323232 !important;
}

.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0 !important;
}

.gform_wrapper ul.gform_fields li.gfield:first-child {
  padding-right: 16px !important;
}

.gform_wrapper ul.gform_fields li.gfield.gfield_error + li.gfield.gfield_error {
  margin-top: 16px !important;
}

.gform_wrapper
  ul.gform_fields
  li.gfield
  .ginput_container_checkbox
  .gfield_checkbox
  li
  label:before {
  border: 1px solid #ccc;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm {
  max-width: 75px;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
  max-width: none !important;
  width: 100% !important;
  margin: 0 !important;
  height: 55px !important;
}

.uabb-infobox-title-wrap .googlekeyword {
  color: #fff;
}

input[type="checkbox"] + label:before {
  border-radius: 0px !important;
}

ul.social-icons li {
  padding: 20px !important;
}

.button-wrapper .getcoupon-btn:hover {
  background-color: #338e8e !important;
  color: #fff !important;
  border: 1px solid #338e8e;
}

.uabb-image-carousel .slick-arrow,
.uabb-image-carousel .slick-arrow:hover {
  background-color: transparent !important;
}

.uabb-image-carousel .slick-arrow i:before {
  color: #000 !important;
}

.button-wrapper a.button:hover {
  border: 1px solid #000;
}
.fl-rich-text h1 {
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  text-transform: uppercase;
}
.sub-menu .rmp-menu-item-link a {
  color: #333333;
}
.sub-menu .rmp-menu-item-link a:hover {
  color: #338e8e;
}
body .gform_legacy_markup_wrapper .top_label div.ginput_container {
  margin-top: 6px !important;
}
form .ginput_complex .clear-multi .gfield_time_minute input,
form .ginput_complex .clear-multi .gfield_time_hour input,
form .ginput_complex .clear-multi .gfield_time_ampm select {
  margin-top: 0px !important;
}
header .topbar .fl-rich-text * {
  display: inline-block;
}
header .topbar .fl-rich-text a:hover,
header .topbar .fl-rich-text a:hover span {
  color: #000 !important;
}
footer .menu-item a:hover,
footer .fl-rich-text a:hover,
.social-icons li a i:hover {
  color: #338e8e !important;
}

.product-row .fl-post-grid-post .instockImgPlp {
  position: absolute;
  top: 0;
  left: 0;
  min-height: auto !important;
  max-height: 100% !important;
  width: auto !important;
  margin: 0 !important;
}
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button {
    color: #fff!important;
    background-color: #338e8e!important;
    border: none;
}

.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover {
    color: #fff!important;
    background-color: #606060!important;  
     border: none;
}


.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #338e8e;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #338e8e;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}

.facet_filters strong {
  color: #338e8e;
}

.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #338e8e;
}

.bottom-pager .facetwp-pager {
  float: none;
  text-align: right;
}

.header_banner > .fl-row-content-wrap {
  min-height: 600px !important;
}

#rmp-menu-additional-content-1136035 {
  text-align: left !important;
}





#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #338e8e;
  border-top: 1px solid #fff;
}


#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder>button.mgbutton {
  background-color: #323232  !important;
  color: #fff !important;
  border-radius: 0px!important;
  font-family: "Montserrat",sans-serif!important;
  font-weight: 300!important;
  text-transform: uppercase!important;
  box-shadow: none !important;
  border: none!important;
}
.moove-gdpr-button-holder>button.mgbutton:hover {
  background: #000000  !important;
  color: #fff!important;
  text-transform: uppercase!important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #323232 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #323232 !important;
  color: #fff!important;  
  border: 0px!important;
  border-radius: 0px!important;
  font-family: "Montserrat",sans-serif!important;
  font-weight: 300!important;
  text-transform: uppercase!important;  
    
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000  !important;
  color: #fff !important;
  border: 0px!important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #323232 !important;
}
.facetwp-selections ul:before, 
div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #338e8e !important;
    color: #338e8e !important;
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
    max-width: 95%;
  }
}

@media (max-width: 1080px) {
  #djcustom-header .fl-builder-content .fl-row .fl-col-group-equal-height {
    flex-direction: row-reverse;
    position: relative;
  }
  #djcustom-header
    .fl-builder-content
    .fl-row
    .fl-col-group-equal-height
    > .fl-col:nth-child(2) {
    display: none;
  }
  #djcustom-header
    .fl-builder-content
    .fl-row
    .fl-col-group-equal-height
    > .fl-col:first-child {
    width: 95%;
  }
  #djcustom-header
    .fl-builder-content
    .fl-row
    .fl-col-group-equal-height
    > .fl-col:last-child {
    width: 5% !important;
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 9;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  #djcustom-header .fl-module-uabb-photo .uabb-module-content {
    text-align: center;
    padding-right: 7%;
  }
  #djcustom-header .fl-module-uabb-photo .uabb-photo-content .uabb-photo-img {
    max-height: 65px;
  }
  #djcustom-header .fl-builder-content .fl-row .fl-module {
    text-align: left;
  }
  #responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu
    li.responsive-menu-item
    .responsive-menu-item-link {
    line-height: normal;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fl-module-info-banner .uabb-module-content .uabb-text-editor h3 {
    font-size: 21px;
  }
}

@media (max-width: 1024px) {
  .coretec-sec .fl-module-rich-text .fl-rich-text * {
    font-size: 22px !important;
  }

  .header_banner > .fl-row-content-wrap {
    min-height: 500px !important;
  }

  .header_banner .fl-row-content,
  .fl-tabs-panel-content .fl-row-content {
    z-index: 2;
  }

  .header_banner > .fl-row-content-wrap:after,
  .fl-tabs-panel-content .fl-row-content-wrap:after {
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

@media (max-width: 992px) {
  .fl-col-group.fl-col-group-responsive-reversed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -ms-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .align-center .uabb-module-content {
    text-align: center !important;
  }
  .active-gallery-modal .col .fl-button,
  .active-gallery-modal .col .button {
    margin: 0 auto;
  }
  .product-attributes h3 {
    text-align: left;
  }
  .product-attributes table td {
    width: 60%;
  }
  .product-attributes table th {
    width: 40%;
  }
  .product-attributes table td,
  .product-attributes table th {
    text-align: left;
  }

  button.rmp_menu_trigger {
    top: 135px !important;
  }

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px !important;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }

  /* PLP Page Css iPad Air end */

  .captionShow img {
    max-height: 500px;
    min-height: 500px;
    object-fit: cover;
  }

  .captionShow .fl-photo-caption-below {
    right: auto;
  }

  .captionShow .fl-photo-caption-below > a:after {
    margin: 9px 0 0 10px;
  }

  .fl-tabs-panel-content .fl-col.fl-col-small {
    max-width: 100%;
  }

  .location-top .uabb-module-content.uabb-list-icon {
    max-width: 130px;
    margin: 20px auto 0;
  }

  .store-opening-hrs > li > span {
    position: static;
    right: unset !important;
  }

  .header_banner > .fl-row-content-wrap {
    min-height: 400px !important;
    padding: 20px 0 !important;
  }

  footer#djcustom-footer .fl-col,
  footer .fl-col {
    width: 100% !important;
  }

  footer table {
    width: 100% !important;
  }

  .fl-page-content .uabb-module-content.uabb-dual-button.uabb-align-left {
    justify-content: center;
  }

  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content .fl-module-content ul.storename,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .fl-html,
  footer *,
  .fl-callout * {
    text-align: center !important;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .text_left_content .fl-rich-text * {
    text-align: left !important;
  }

  .fl-module-content-slider .fl-slide .fl-slide-content:empty {
    display: none;
  }
  .fl-module-content-slider
    .fl-content-slider
    .fl-slide-photo-wrap
    .fl-slide-photo {
    margin-top: 60px;
  }
  #product-list-top-filters
    + .fl-row
    > .fl-row-content-wrap
    .fl-col-group
    > .fl-col {
    width: 100% !important;
  }
  .header_banner .fl-row-content {
    margin: 20px;
  }
  .location-top * {
    text-align: center;
  }
  .featured-products .featured-product-list .featured-product-item .prod-img-wrap{
    justify-content: center;
  }
}

div#mm-product-details .product-detail-layout-6 .button-wrapper a{
	background: #338e8e !important;
	border-color: #338e8e !important;
}

div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover{
	background: #606060 !important;
	border-color: #606060 !important;
}

@media (min-width: 992px) {
    .product-detail-layout-6 .product-variations .slick-slider .slick-arrow {
        top: 25px !important;
    }
}

@media (max-width: 768px) {
  .fl-module-content-slider .fl-slide .fl-slide-content:empty {
    display: none;
  }
  .fl-module-content-slider
    .fl-content-slider
    .fl-slide-photo-wrap
    .fl-slide-photo {
    margin-top: 60px;
  }
  #product-list-top-filters
    + .fl-row
    > .fl-row-content-wrap
    .fl-col-group
    > .fl-col {
    width: 100% !important;
  }
  button.rmp_menu_trigger {
    top: 135px !important;
  }
}

@media (max-width: 767px) {
  .fl-page-header {
    border-bottom: 1px solid #ce1d00;
  }
  .fl-col-small {
    max-width: 100%;
  }
  button#responsive-menu-button {
    top: 60px !important;
    right: 5px !important;
  }
  #djcustom-header .fl-module-uabb-photo .uabb-module-content {
    padding: 0 55px;
  }
  #djcustom-header
    .fl-builder-content
    .fl-row
    .fl-col-group-equal-height
    > .fl-col:last-child {
    left: 15px;
  }
  .topbar .fl-col-group > .fl-col:last-child {
    /* display: none !important; */
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

@media (max-width: 540px) {
  .fl-row-bg-video .fl-bg-video video {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
  }
}

@media (max-width: 500px) {
  .product-box a.fl-button {
    width: 100% !important;
  }
  .quality-family-best-wrap .uabb-list-icon-wrap {
    width: 60% !important;
    display: block;
    margin: 10px 0px !important;
  }
  .logo .uabb-photo-content .uabb-photo-img {
    width: 70%;
  }

  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }

  button.rmp_menu_trigger {
    top: 122px !important;
  }
}

@media (max-width: 421px) {
  .rmp-menu-item-link {
    font-size: 12px !important;
  }
  .rmp-submenu .rmp-menu-item-link {
    font-size: 10px !important;
  }
  .gform_wrapper ul.gform_fields li.gfield .gfield_time_hour i {
    right: -4px !important;
  }
}
